[Unit]
Description=Agilent 39500 Telnet Service

[Service]
Type=simple
ExecStart=python3 /lrp/instrument.py
Restart=always

[Install]
WantedBy=multi-user.target
